{% extends 'base.html' %}
{% block title%}Log In{% endblock%}
{% block content %}
    <div class="logincontainer">
        <form action="/login" method='POST'>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
              <div id="emailHelp" class="form-text">We won't share your personal data</div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <a href="add_user_form">Register</a>
            <div>
              <button type="submit" class="btn btn-primary">Log In</button>
            </div>
            <a href="/logout">Log out</a>
          </form>
    </div>
{% endblock%}